:local(.reset) {
  margin: 0;
  padding: 0;
}

:local(.menu) {
  min-height: 100vh;
  border-right: 2px solid #9acbec;
  background: linear-gradient(135deg,#76a5f7, #7e9fd9, #c1e4fc, #76a5f7, #7e9fd9);
  text-align: center;
}

:local(.header) {
  height: 10vh;
  border-bottom: 2px solid #9acbec;
  background-image: radial-gradient(circle, #76a5f7, #7e9fd9, #c1e4fc, #76a5f7, #7e9fd9);
}

:local(.menub) {
  border: 1px solid #959595;
  background: linear-gradient(#f4feff, #e8f6f7, #e7eced, #ebf3f4, #e8f6f7);
  box-shadow: 1px 2px 10px 0 rgba(0,0,0,0.2);
  transform: translateY(2%);
}

:local(.statusb) {
  border: 1px solid #959595;
  background: linear-gradient(#f4feff, #e8f6f7, #e7eced, #ebf3f4, #e8f6f7);
  box-shadow: 1px 2px 10px 0 rgba(0,0,0,0.2);
  margin-left: 2vw;
  transform: translateY(50%);
}

:local(.statusbp) {
  border: 1px solid #959595;
  background: linear-gradient(#a0d8f8, #c0e8f7, #acd8e3, #a0d8f8, #c0e8f7, #c0e8f7);
  box-shadow: 1px 2px 10px 0 rgba(0,0,0,0.2);
  margin-left: 2vw;
  transform: translateY(50%);
}

:local(.statusb:hover) {
  background: linear-gradient(#a0d8f8, #c0e8f7, #acd8e3, #a0d8f8, #c0e8f7, #c0e8f7);
}

:local(.sim) {
  height: 90vh;
  width: 90vw;
  background: linear-gradient(45deg,#76a5f7, #7e9fd9, #c1e4fc, #76a5f7, #7e9fd9);
}

[class*='col-'] {
  padding: 0 !important;
  margin: 0 !important;
}
