:local(.formlenstats) {
  max-width: 20px;
  border: 0;
  padding: 0;
  text-align: right;
}

:local(.formlenstats:hover) {
  box-shadow:0 0 10px #9ecaed;
}

:local(.textRight) {
  text-align: right
}

:local(.background) {
  border: 2px solid #c0e8f7;
  border-bottom: none;
  background-color: #f4f4f4;
}

:local(.borderu) {
  border-top:  2px solid #c0e8f7;
}

:local(.borderudl) {
  border-right: none;
}

:local(.borderud) {
  border-left: none;
  border-right: none;
}

:local(.borderurd) {
  border-left: none;
}

:local(.borderlast) {
  border-bottom: 2px solid #c0e8f7;
}

:local(.triangler:before) {
  content: '';
  top: 1px;
  left: 1px;
  position: absolute;
  z-index: 2;
  min-width: 9px;
  min-height: 9px;
  background: #c1e4fc;
  -webkit-clip-path: polygon(10% 0, 100% 50%, 10% 100%);
  clip-path: polygon(10% 0, 100% 50%, 10% 100%);
}

:local(.triangler) {
  cursor: pointer;
  position: relative;
  display: block;
  min-width: 11px;
  min-height: 11px;
  background: #82a3b4;
  -webkit-clip-path: polygon(10% 0, 100% 50%, 10% 100%);
  clip-path: polygon(10% 0, 100% 50%, 10% 100%);  
}

:local(.trianglerpress) {
  cursor: pointer;
  position: relative;
  display: block;
  min-width: 11px;
  min-height: 11px;
  background: #82a3b4;
  -webkit-clip-path: polygon(10% 0, 100% 50%, 10% 100%);
  clip-path: polygon(10% 0, 100% 50%, 10% 100%);  
}

:local(.trianglerhide) {
  position: relative;
  display: block;
  min-width: 11px;
  min-height: 11px;
}
